<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to Flatiron Open Orders</h2>

    <ol>
        <li>Power bank</li>
        <li>Beach blanket</li>
        <li>Head lamp</li>
    </ol>
</body>
</html>