<h2>
	Welcome to Flatiron Open Orders 
</h2>

<ol>
	<li>Full Stack Programming Course..............$15,000.00</li>
	<li>Flatiron School Official T-Shirt...........$25.00</li>
	<li>Data Science Course........................$17,000.00</li>
</ol>
