<!DOCTYPE html>
<html>
<head>
  <title> Flatiron Store </title>

</head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<body>

  <%= yield %>
    <h1> Flatiron Widgets Store </h1>
</body>
</html>
