<!-- Default layout when a template is rendered for an action without specifying a layout to use. -->
<!DOCTYPE html>
<html>
<head>
  <title>Flatiron Store</title>
</head>
<body>
		<h1>Flatiron Widgets Store</h1>
		<%= yield %>
</body>
</html>
