
<!DOCTYPE html>
<html>
<head>
  <title>Flatiron Store</title>
</head>
<body>
    <h2>Welcome to Flatiron Open Orders</h2>
    <ol>
      <li>Crayon</li>
      <li>Computer</li>
      <li>Pencil</li>

    </ol>
   <%= yield %>
</body>
</html>
